<!--
Requires:
    logged_in (boolean)
    user (string)

Optional:
    login_redirect_link (string)
-->
<div class="d_buttons_top">
    <div class="d_container">
        {% if logged_in %}
        <!-- Buttons -->
        <a class="button a_button_top" href="/planning">Planning</a>
        <a class="button a_button_top" href="/file_share">File Share</a>
        <a class="button a_button_top" href="/manage_account">Manage Account</a>
        {% endif %}
        <div class="d_welcome">
            Welcome, 
            {% if logged_in %}
                {{ user }}
                <!-- Logout Button -->
                <a class="button a_button_top" href="/logout">Logout</a>
            {% else %}
                Guest            
                <!-- Login Button -->
                {% set login_link = '/login' %}

                <!-- Add the redirect link if possible -->
                {% if login_redirect_link is defined %}
                    {% set login_link = login_link + '?q_redirect=' + login_redirect_link %}
                {% endif %}
                <a class="button a_button_top" href="{{ login_link }}">Login</a>
            {% endif %}
        </div>
    </div>
</div>