<!--
-->
<div class="d_buttons_side">
    <!-- Buttons -->
    <a class="button a_button_side" href="/">Home</a>
    <a class="button a_button_side" href="/outings">Outings</a>
    <a class="button a_button_side" href="/calendar">Calendar</a>
    <a class="button a_button_side" href="/photos">Photos</a>
    <a class="button a_button_side" href="/links">Links</a>
    <a class="button a_button_side" href="/contact_us">Contact Us</a>
    <a class="button a_button_side" href="/support_us">Support Us</a>
</div>