<!--
Requires:
    logged_in (boolean)
    user (string)
-->
<div class="d_buttons_top">
    <div class="d_container">
        {% if logged_in %}
        <!-- Buttons -->
        <a class="button a_button_top" href="/">Planning</a>
        <a class="button a_button_top" href="/">File Share</a>
        <a class="button a_button_top" href="/">Manage Account</a>
        {% endif %}
        <div class="d_welcome">
            Welcome, 
            {% if logged_in %}
                {{ user }}
                <!-- Logout Button -->
                <a class="button a_button_top" href="/">Logout</a>
            {% else %}
                Guest            
                <!-- Login Button -->
                <a class="button a_button_top" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</div>