<!--
Requires:
    outing (Outing)
-->
{% set id = outing.key().id() %}
{% set datetime_format = '%m/%d/%y at %I:%M %p' %}
<a class="button a_button_block" href="/outings/outing/{{ id }}" id="{{ id }}_container">
    <!-- Name -->
    <div class="header4">{{ outing.outingName }}</div>

    <!-- Timing -->
    <div class="d_outing_row_half" id="{{ id }}_row_half_0">Depart: {{ outing.departureTime.strftime(datetime_format) }}</div>
    <div class="d_outing_row_half" id="{{ id }}_row_half_1">Return: {{ outing.returnTime.strftime(datetime_format) }}</div><br />

    <!-- Location -->
    <div class="d_outing_row_half" id="{{ id }}_row_half_2">Meet: {{ outing.meetLocation }}</div>
    <div class="d_outing_row_half" id="{{ id }}_row_half_3">Outing: {{ outing.outingLocation }}</div>

    <!-- Description -->
    <div>
        <br />
        {{ outing.description }}
    </div>

    <!-- Photos (TODO) -->

    <!-- Auto-center -->
    <script>
        addSetElementWidthToHalfEventsForOuting({{ id }});
    </script>
</a>