<!--
Requires:
    outing (Outing)
-->
{% set id = outing.key().id() %}
{% set datetime_format = '%m/%d/%y at %I:%M %p' %}
<a class="button a_button_block" href="/outings/outing/{{ id }}">
    <!-- Name -->
    <div class="header4">{{ outing.outingName }}</div>

    <!--
    Note: The second div in the timing and location categories begin on the first line for formatting reasons.
    -->

    <!-- Timing -->
    <div class="d_outing_row_half">Depart: {{ outing.departureTime.strftime(datetime_format) }}</div><div
         class="d_outing_row_half">Return: {{ outing.returnTime.strftime(datetime_format) }}</div><br />

    <!-- Location -->
    <div class="d_outing_row_half">Meet: {{ outing.meetLocation }}</div><div 
         class="d_outing_row_half">Outing: {{ outing.outingLocation }}</div>

    <!-- Description -->
    <div>
        <br />
        {{ outing.description }}
    </div>

    <!-- Photos (TODO) -->
</a>