<!--
Requires:
    buttons_side (html string)
    buttons_top (html string)
    content (html string)
    content_title (string)
    page_title (string)

Optional:
    scripts (list of strings)
    stylesheets (list of strings)

Ids:
    d_page_container
    d_page_content_container
-->
<!DOCTYPE html>
{% autoescape true %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <!-- Stylesheets -->
    <link href="stylesheets/common_classes.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/defaults.css" rel="stylesheet" type="text/css">
    {% for sheet in stylesheets %}
        <link href="{{ sheet }}" rel="stylesheet" type="text/css">
    {% endfor %}

    <!-- Scripts -->
    <!-- 
        This is commented out because the features this script provides should be
        obtainable using only css. Include the file for each specific page that needs it
        (if any even do).
        <script src="scripts/dynamicResizing.js" type="text/javascript"></script>
     -->
    <script src="scripts/eventUtilities.js" type="text/javascript"></script>
    <script src="scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <!-- Title -->
    <title>{{ page_title }}</title>
</head>

<body>
    <!-- Header -->
    <a class="a_page_header" href="/">
        <div class="d_container">
            <div class="header1">Troop 140 - Xenia, OH</div>
            <hr class="hr_page_header_bar" />
        </div>
    </a>

    <!-- Top Buttons -->
    {{ buttons_top | safe }}

    <!-- Main Page  -->
    <div class="d_container" id="d_page_container">

        <!-- Content Title -->
        <div class="header2">{{ content_title }}</div>

        <!-- Side Buttons -->
        {{ buttons_side | safe }}

        <!-- Content -->
        <div class="d_page_content" id="d_page_content_container">
            {{ content | safe }}
        </div>
    </div>
</body>
</html>
{% endautoescape %}
